extends layout

block content
  h1 Welcome to the Workout Challenge! 
    h2 Log In
    form(action="/login" method="post")
      input(type="text" id="login_email" name="login_email" placeholder="Email")
      p
      input(type="password" id="login_password" name="login_password" placeholder="Password")
      p
      input(type="submit" value="Log In")
    p
    p Don't have an account? 
      a(href="/users/new") Click Here
  
