extends layout

block content
  h1 Welcome to the Workout Challenge! 
  p 
  a(href="/challenges") Join a Challenge | 
  a(href="/challenges/new") Create A New Challenge
  p Join The June 10th - June 30th Challenge
