extends layout

block content
  if currentUser
    h1 welcome to the challenge
    h3 get fit. stay healthy. together.
    p it looks like you are already logged in. 
    p to continue to challenges, 
      a(href="/challenges") click here
  else
    h1 welcome to the challenge
    h3 get fit. stay healthy. together.
    p
    h2 log in
    if errors
      p.error= errors
      form(action="/login" method="post")
        input(type="text" id="login_email" name="login_email" placeholder="email")
        p
        input(type="password" id="login_password" name="login_password" placeholder="password")
        p
        input(type="submit" value="log in")
        p
        p don't have an account? 
          a(href="/users/new") click here
    else
      form(action="/login" method="post")
        input(type="text" id="login_email" name="login_email" placeholder="email")
        p
        input(type="password" id="login_password" name="login_password" placeholder="password")
        p
        input(type="submit" value="log in")
        p
        p don't have an account? 
          a(href="/users/new") click here
  
