extends ../layout

block content
    h1 Choose an Active Challenge:
    table
      thead
        th Challenge Name
        th Challenge Start Date 
        th Challenge Length
      tbody
      for challenge in allChallenges
        tr
          td
            a(href='/challenges/' + challenge._id) #{challenge.challenge_name}
          td= challenge.start_date
          td #{challenge.challenge_length} Days
          
    a(href="/challenges/new") Create a New Challenge
  //- else 
  //-   p Sorry! You must be logged in to see this page.
  //-   a(href="/") Click here to Log In 
  //-   p
  //-   p Don't have an account?
  //-   a(href="/users/new") Click here

      
