extends ../layout

block content
  if currentUser
    div.logout
      a(href="/users/profile") view player profile
      p
      form(action="/logout" method="post")
        input(type="submit" value="logout")
    div.body
      h1 choose an active challenge:
      a(href="/challenges/new") create a new challenge
    for challenge in allChallenges
      div.challenge
        div.challenge-name
          h3
            a.link-name(href='/challenges/' + challenge._id) #{challenge.challenge_name}
        p Start Date: #{challenge.start_date}
        p Challenge Length: #{challenge.challenge_length} Days
  else 
    p Sorry! You must be logged in to see this page.
    a(href="/") Click here to Log In 
    p
    p Don't have an account?
    a(href="/users/new") Click here

      
