extends ../layout

block content
  fieldset
    legend
      name Add New Player
    form(method="post" action="/challenges")
      label(for="names") Your name:
      p
      input(type="text" id="names" name="names")
      p
      p
      label(for="day") Day
      p
      select(id="day" name="day" required)
        option 1
      p
      label(for="healthy_meals") How many healthy meals today? (+2 points/each)
      p
      input(type="text" id="healthy_meals" name="healthy_meals" required)
      p
      label(for="workouts") How many workouts today? (+3 points/each)
      p
      input(type="text" id="workouts" name="workouts" required)
      p
      label(for="unhealthy_meals") How many unhealthy meals today? (-2 points/each)
      p
      input(type="text" id="unhealthy_meals" name="unhealthy_meals" required)
      p
      input(type="checkbox" id="alcohol" name="alcohol")
      label(for="alcohol") Drank alcohol (-2 points)
      p
      input(type="checkbox" id="water" name="water")
      label(for="water") Drank 1 gallon of water (+1 point)
      p
      input(type="checkbox" id="calorie" name="calorie")
      label(for="calorie") Under calorie count (+1 point)
      p
      input(type="submit" value="Submit")
      
      
