extends ../layout

block content
  h1 Showing All Scores for #{thisChallenge.challenge_name}
  p Challenge Start Date: #{thisChallenge.start_date}
  p Challenge Length: #{thisChallenge.challenge_length} Days
  form(action="/challenges/" + thisChallenge._id + "/join" method="post")
    input(type="submit" value="Join this challenge")
  p
  p
  p Click on the day to add your score!
  p
  table 
    thead
     tr
     th Player Name
     - var count = 1
      while count <= thisChallenge.challenge_length
        th 
          a(href="/challenges/"+ thisChallenge._id + "/" + count + "/scores") Day #{count++}
      th Total Score 
    tbody
  
  p
  a(href="/challenges/" + thisChallenge._id + '/edit') Edit Challenge
  p
  form(action="/challenges/" + thisChallenge._id + "/delete" method="post")
    input(type="submit" value="Delete Challenge")
  a(href="/challenges") Back to Challenges
  
      
