extends ../layout

block content
  h1 Showing All Scores for #{thisChallenge.challenge_name}
  form(action="/join" method="post")
    input(type="submit" value="Join this challenge")
  p
  table 
    thead
     tr
      th Day 1
      th Day 2
      th Day 3
      th Day 4
      th Day 5
      th Day 6
      th Day 7
      th Day 8
      th Day 9
      th Day 10
      th Day 11
      th Day 12
      th Day 13
      th Day 14
      th Day 15
      th Day 16
      th Day 17
      th Day 18
      th Day 19
      th Day 20
      th Day 21
      th Total Score 
    tbody
  
  p
  a(href="/challenges/" + thisChallenge._id + '/edit') Edit Challenge
  p
  form(action="" method="post")
    input(type="submit" value="Delete Challenge")
  
      
