extends ../layout

block content
  h2 Sign Up for The Challenge
  if currentUser 
    p Woops it looks like 
  else
    if errors
      for error in errors
        p= error
      form(action="/users/new" method="post")
        input(type="text" id="user_name" name="user_name" value="#{user_name}")
        p
        input(type="text" id="email" name="email" value="#{email}")
        p
        input(type="password" id="password" name="password" placeholder="Password")
        p
        input(type="password" id="confirm" name="confirm" placeholder="Confirm Password")
        p
        input(type="submit" value="Sign Up")
    else
      form(action="/users/new" method="post")
        input(type="text" id="user_name" name="user_name" placeholder="Name")
        p
        input(type="text" id="email" name="email" placeholder="Email")
        p
        input(type="password" id="password" name="password" placeholder="Password")
        p
        input(type="password" id="confirm" name="confirm" placeholder="Confirm Password")
        p
        input(type="submit" value="Sign Up")
    
