extends ../layout

block content
  
  if currentUser 
    p woops! it looks like you are already logged in. 
    p to continue to challenges, 
      a(href="/challenges") click here
  else
    if errors
      h2 sign up for the challenge
      for error in errors
        p= error
      form(action="/users/new" method="post")
        input(type="text" id="user_name" name="user_name" value="#{user_name}")
        p
        input(type="text" id="email" name="email" value="#{email}")
        p
        input(type="password" id="password" name="password" placeholder="password")
        p
        input(type="password" id="confirm" name="confirm" placeholder="confirm password")
        p
        input(type="submit" value="Sign Up")
    else
      h2 sign up for the challenge
      form(action="/users/new" method="post")
        input(type="text" id="user_name" name="user_name" placeholder="name")
        p
        input(type="text" id="email" name="email" placeholder="email")
        p
        input(type="password" id="password" name="password" placeholder="password")
        p
        input(type="password" id="confirm" name="confirm" placeholder="confirm password")
        p
        input(type="submit" value="sign up")
    
