extends ../layout

block content
  if currentUser
    img.profile(src="/images/default_avatar_female.jpg")
    div.profile-name 
      h1 #{thisUser.user_name}
      p
      a(href="/users/" + thisUser._id + "/edit") edit profile
    p email: #{thisUser.email}
    p challenges: 
    for challenge in challenges
      p= challenge.challenge_name
    
    p
    div.exit
      form(action="/users/" + thisUser._id + "/delete" method="post")
        input(type="submit" value="delete profile")
      p
      a(href="/challenges") back to challenges
  else
    p Sorry! You must be logged in to see this page.
    a(href="/") Click here to Log In 
    p
    p Don't have an account?
    a(href="/users/new") Click here
